<!DOCTYPE html>
<html>
<head>
    <style>
        .topleft {
            position: absolute;
            top: 8px;
            left: 24px;
            font-size: 24px;
            color: white;
            margin-left: 20px;
        }

        .picturetext {
            position: relative;
        }
    </style>
    <title>Ecommerce App</title>
    <meta charset="utf-8" />
    <link href="~/Assets/CSS/myCustomStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link href="~/Assets/CSS/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Assets/CSS/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Assets/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <script>
        function myFunction() {
            var newDisplay = document.getElementById("navbar");
            if (newDisplay.style.display == "none") {
                newDisplay.style.display = "block";
            }
            else { newDisplay.style.display = "none"; }
        }

        function dropFunction() {
            var dropData = document.getElementById("dropDown");
            if (dropData.style.display == "none") {
                dropData.style.display = "block";
            }
            else {
                dropData.style.display = "none";
            }
        }
    </script>
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="padding:50px; text-align:center;">
                <div class="modal-header" style="border-style:none;">
                    <div class="modal-title" style="border-style:none;">
                        N E W S L E T T E R
                    </div>
                </div>
                <div class="modal-body" style="border-style:none;">
                    Join our mailing list to receive updates on new arrivals and special offers.
                </div>
                <div class="modal-body" style="border-style:none;">
                    <input placeholder="Enter email address" style="width:100%;" />
                </div>
                <div class="modal-footer" style="border-style:none;">
                    <button class="btn btn btn-danger">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
    <div id="mapModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="padding:50px; text-align:center;">
                <div class="modal-header" style="border-style:none;">
                    <div class="modal-title" style="border-style:none;">
                        W A T C H E S    L T D.
                    </div>
                </div>
                <div class="modal-body" style="border-style:none;">
                    Search the map for the location nearest to you.
                </div>
                <div class="modal-body" style="border-style:none;">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3223.8652279716152!2d-80.07436658487771!3d36.09677321467761!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88530739101f5817%3A0x64583b7d90957128!2sCoder+Foundry!5e0!3m2!1sen!2sus!4v1502127674072" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <nav id="navbar" style="display:none; position:fixed;">
        <div class="headingforMenu">LOGO</div>
        <div class="myCustomNavItem">
            <a href="#">CFW Series</a>
            <a href="#">CFAW Series</a>
            <button type="button" style="background-color: white;color: gray;font-size: 18px;
                 border-style: none;" onclick="dropFunction()">
                Collection
            </button>
            <div id="dropDown" style="display:none;">
                <a href="#">2016</a>
                <a href="#">2015</a>
                <a href="#">2014</a>
            </div>
            <a href="#">Straps</a>
            <a href="#">Parts</a>
            <a href="#">Tools</a>
            <a href="#">Accessories</a>
        </div>
        <div class="headingforMenu">
            <a href="#">Contact</a>
            <a href="#" data-toggle="modal" data-target="#myModal">Newsletter</a>

            <a href="#">Subscribe</a>
        </div>
    </nav>
    <div style="margin-left:200px;">
        <div class="container" style="padding-top:20px; padding-bottom:20px;">
            <div class="row">
                @Html.Partial("_LoginPartial")
                <div class="col-md-12" style="display:block;">
                    <button type="button" onclick="myFunction()"><i class="fa fa-navicon" style="font-size:18px;"></i></button>
                    <div class="cart" style="float: right">
                        @*<button><i class="fa fa-shopping-cart" style="font-size:22px;"></i></button>
                        <button><i class="fa fa-search" style="font-size:22px;"></i></button>*@
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="padding-left: 0px; padding-right:0px;">
                    <div class="picturetext">
                        <div class="container">
                            <img class="img-responsive" src="~/Assets/Images/3.jpg" />
                            <div class="topleft" style="margin-top:80px; font-size:45px;">Spring into Summer with NEW Styles</div>
                            <div class="topleft" style="margin-top:180px; font-size:40px;">Summer Collection 2017</div>
                            <div class="topleft" style="margin-top:260px;"><button style="background-color:black;">SHOP NOW</button></div>
                        </div>
                    </div>
                    <p style="margin-left:13px; margin-bottom:0px;">8 Items</p>
                </div>
            </div>
        </div>
        @RenderBody()
        @RenderSection("scripts", required:false)
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="SubscribeBox">
                        <h1>Subscribe</h1>
                        <p>To get special offers and <span style="color:red">VIP</span> treatment</p>
                        <p><input placeholder="Enter e-mail" style="color:black" /></p>
                        <button>Subscribe</button>
                    </div>
                </div>
            </div>
            <div class="row" style="background-color:lightgray; margin-left:0; margin-right:0;">
                <div class="col-xs-4">
                    <div class="ContactBox" style="text-align:center;">
                        <h4><b>Contact</b></h4>
                        <p>Questions? Go ahead.</p>
                        <p><input placeholder="Name" /></p>
                        <p><input placeholder="Email" /></p>
                        <p><input placeholder="Subject" /></p>
                        <p><input placeholder="Message" /></p>
                        <p><button>Send</button></p>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="AboutUs" style="display:block; text-align:center;">
                        <h4><b>About</b></h4>
                        <p><a>About Us</a></p>
                        <p><a>We're Hiring</a></p>
                        <p><a>Support</a></p>
                        <p><a href="#" data-toggle="modal" data-target="#mapModal">Find a Store</a></p>
                        <p><a>Shipment</a></p>
                        <p><a>Payment</a></p>
                        <p><a>Gift card</a></p>
                        <p><a>Return</a></p>
                        <p><a>Help</a></p>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="StoreInfo">
                        <h4><b>Store</b></h4>
                        <p><i class="fa fa-map-marker"></i> Company Name</p>
                        <p><i class="fa fa-phone"></i> 720.668.0370</p>
                        <p><i class="fa fa-envelope"></i> ex@mail.com</p>
                        <h4><b>We Accept</b></h4>
                        <p> <i class="fa fa-cc-amex"></i> Amex</p>
                        <p><i class="fa fa-cc"></i> Credit Card</p>
                        <div class="social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-snapchat"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Footer begins-->
        <div class="container">
            <footer class="footer">
                <center>
                    <div style="background-color:black; color:white;">
                        <p>
                            Powered by <a href="https://www.coderfoundry.com" style="color:white">CoderFoundry</a> Copyright CoderFoundry
                        </p>
                    </div>
                </center>
            </footer>
        </div>
    </div>
    <!--Footer ends-->
    <script src="~/Assets/scripts/jquery-1.9.1.js"></script>
    <script src="~/Assets/scripts/bootstrap.js"></script>
</body>
</html>

