
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Classes</title>
</head>
<body>
    <div style="font-family:'Zilla Slab'; color:steelblue; margin-left:90px;"> 
        <h2 style="text-align:center">Take a Pottery Class, It'll Be Fun!</h2> <br />
        <h4>MugShop offers beginner, intermediate, and advanced classes at our Seagrove location.</h4>
        <h4>Classes are held weekly and the schedule is as follows: </h4>
        <p>
            *Mondays and Wednesdays 6pm-8pm: Beginner Course with Jack Smith. ($30/person)<br />
            *Tuesdays and Thursdays 6pm-8pm: Intermediate Course with Elena Smith. ($35/person)<br />
            *Fridays 6pm-8pm: Advanced Course with Jack Smith. ($35/person) 
        </p><br />
        <h4>All supplies are provided with the cost of the class.</h4>
        <h4>Classes have a maximum capacity of 10 people and are offered on a first come, first serve basis.</h4>

    </div>
</body>
</html>
