
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Message</title>
</head>
<body> 
    <div style="font-family:'Zilla Slab'; color:steelblue; text-align:center;">
            <h2>Thank you for the Message!</h2>
            <h4>You will receive a reply from our Support Team within 48hrs.</h4>
            <p><button>@Html.ActionLink("Continue Shopping", "Index", "Home")</button></p>
     </div>
</body>
</html>
